<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".NammaMelaApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NammaMela"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.manager.ManagerLoginActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.manager.ManagerDashboardActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".ui.cast.CastActivity" />

        <activity
            android:name=".ui.seat.SeatMapActivity" />

        <activity
            android:name=".ui.fanwall.FanWallActivity"
            android:windowSoftInputMode="adjustResize" />

    </application>

</manifest>
